{% load static %}

<meta charset="utf-8" />
<title>Healthblock</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta content="Healthblock, A blockchain based mHealth application for patient management and monitoring solution" name="description" />
<meta content="" name="author" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- App favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">

<!-- App css -->
<link href="{% static '/main/style/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/main/style/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/main/style/assets/css/metisMenu.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/main/style/assets/plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/main/style/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />